body {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
}

.head-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    /*background-color: #1d1d1d;*/
    background-color: #352b26;
}

.head-wrapper {
    height: 60px;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
}

.logo {
    position: relative;
    display: inline-block;
    height: 70%;
    top: 15%;
}

.foot-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #352b26;
    text-align: center;
    color: #bfbfbf;
    padding: 10px;
    font-size: 12px;
}

@media screen and (max-width: 450px) {
    .foot-wrapper {
        display: none;
    }
    .head-wrapper {
        text-align: center;
    }
}

/*.card-shadow {
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}*/
