body {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    list-style-type: none;
}

/* head */
.head-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    /*background-color: #1d1d1d;*/
    background-color: #352b26;
}

.head-wrapper {
    height: 60px;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
}

.head-wrapper .logo {
    position: relative;
    display: inline-block;
    height: 70%;
    top: 15%;
}


.list-box ul {
    overflow: auto;
}

.list-box ul li {
    padding: 5px;
}

.list-box ul li .item:hover {
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,.1);
}

.list-box ul li .item {
    height: 100px;
    border: 1px solid #eee;
    border-left: 10px solid #352b26;
    border-radius: 5px;
    color: #000;
    transition: .4s;
}

.list-box ul li .item .title {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;

    font-size: 15px;
    font-weight: 900;
    text-align: left;
    border-bottom: 1px solid #bfbfbf;
}

.list-box ul li .item .des {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 12px;
}

/* foot */
.foot-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #352b26;
    text-align: center;
    color: #bfbfbf;
    padding: 10px;
    font-size: 12px;
}

@media screen and (max-width: 450px) {
    .foot-wrapper {
        display: none;
    }
    .head-wrapper {
        text-align: center;
    }
}
