<link rel="stylesheet" href="/css/encryption.css" media="screen">
<div class="container wrapper card-shadow">
    <br>
    <textarea class="form-control" draggable="false" autofocus placeholder="input"></textarea>
    <br>
    <!-- <div class="btn-group">
        <button type="button" class="btn btn-default">MD5</button>
        <button type="button" class="btn btn-default">SHA1</button>
  </div> -->
 <ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#">MD5</a></li>
  <li role="presentation"><a href="#">SHA1</a></li>
  <button type="button" class="btn btn-success pull-right">加密</button>
</ul>
<br>
<table class="table table-striped">
    <tr>
      <th class="col-md-2"></th>
      <th class="col-md-8">123</th>
    </tr>
  <tr>
    <td class="col-md-2">32大</td>
    <td class="col-md-8">202cb962ac59075b964b07152d234b70</td>
  </tr>
  <tr>
    <td class="col-md-2">32小</td>
    <td class="col-md-8">202cb962ac59075b964b07152d234b70</td>
  </tr>
  <tr>
    <td class="col-md-2">16大</td>
    <td class="col-md-8">ac59075b964b0715</td>
  </tr>
  <tr>
    <td class="col-md-2">16小</td>
    <td class="col-md-8">ac59075b964b0715</td>
  </tr>
</table>
<br><br><br><br><br><br><br><br>
<!-- <ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul> -->
</div>
